## DA using Random Forest Algorithm of Cloth Company Data

In [41]:
# Firstly We Have to IMPORT the Libraries -
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split

In [42]:
# Importing the Data from our system 
data = pd.read_csv('D:/Top Mentor/Classes Details/4th May/Files/Random Forest Project 9 & 10/Random Forests/Company_Data.csv')
data.head(2)

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes

In [43]:
# Copy the data - 
df = data.copy()
print(df.head(2))

   Sales  CompPrice  Income  Advertising  Population  Price ShelveLoc  Age  \
0   9.50        138      73           11         276    120       Bad   42
1  11.22        111      48           16         260     83      Good   65

   Education Urban   US
0         17   Yes  Yes
1         10   Yes  Yes

In [44]:
## Data Reading Basic Steps :-
print('No of columns - \n' , df.columns)
print('No of shapes - ' , df.shape)
print('No of lenght - ' , len(df))
print('No of datatype - \n' , df.dtypes)
print('No of Null Value Count -\n',df.isnull().sum())

No of columns -
 Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')
No of shapes -  (400, 11)
No of lenght -  400
No of datatype -
 Sales          float64
CompPrice        int64
Income           int64
Advertising      int64
Population       int64
Price            int64
ShelveLoc       object
Age              int64
Education        int64
Urban           object
US              object
dtype: object
No of Null Value Count -
 Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [45]:
print('DataSet Information -\n',df.describe())

DataSet Information -
             Sales   CompPrice      Income  Advertising  Population  \
count  400.000000  400.000000  400.000000   400.000000  400.000000
mean     7.496325  124.975000   68.657500     6.635000  264.840000
std      2.824115   15.334512   27.986037     6.650364  147.376436
min      0.000000   77.000000   21.000000     0.000000   10.000000
25%      5.390000  115.000000   42.750000     0.000000  139.000000
50%      7.490000  125.000000   69.000000     5.000000  272.000000
75%      9.320000  135.000000   91.000000    12.000000  398.500000
max     16.270000  175.000000  120.000000    29.000000  509.000000

            Price         Age   Education
count  400.000000  400.000000  400.000000
mean   115.795000   53.322500   13.900000
std     23.676664   16.200297    2.620528
min     24.000000   25.000000   10.000000
25%    100.000000   39.750000   12.000000
50%    117.000000   54.500000   14.000000
75%    131.000000   66.000000   16.000000
max    191.000000   80.000000   18.000000

In [49]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
print(df.columns)

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

In [50]:
df['US'] = label_encoder.fit_transform(df['US'])

In [51]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,1
1,11.22,111,48,16,260,83,Good,65,10,Yes,1
2,10.06,113,35,10,269,80,Medium,59,12,Yes,1
3,7.40,117,100,4,466,97,Medium,55,14,Yes,1
4,4.15,141,64,3,340,128,Bad,38,13,Yes,0

In [73]:
## Now we starting the training & Testing for data - 
X = df[['CompPrice','Sales','Income','Price','Advertising']]
y =df['US']

In [74]:
X.head()

   CompPrice  Sales  Income  Price  Advertising
0        138   9.50      73    120           11
1        111  11.22      48     83           16
2        113  10.06      35     80           10
3        117   7.40     100     97            4
4        141   4.15      64    128            3

In [75]:
y.head()

0    1
1    1
2    1
3    1
4    0
Name: US, dtype: int32

In [76]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [77]:
X_train.shape , y_train.shape

((320, 5), (320,))

In [78]:
X_test.shape , y_test.shape

((80, 5), (80,))

In [82]:
model = RandomForestClassifier

In [79]:
def rd_forest(X_train, X_test,y_train,y_test):
    try:
        model = RandomForestClassifier(criterion='gini')
        model_train = model.fit(X_train, y_train)
        pred = model_train.predict(X_test)
        results = accuracy_score(y_test,pred)*100
        return results
    except:
        print("|Error in Random |Forest |Function")

In [80]:
results = rd_forest(X_train, X_test,y_train,y_test)
print("The accuracy of Random |Forest Tree - ", results, "%")

The accuracy of Random |Forest Tree -  92.5 %