# Fraud Check upsing Random Forset -

In [1]:
# Firstly We Have to IMPORT the Libraries -
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split

In [3]:
# Importing the Data from our system 
data = pd.read_csv('D:/Top Mentor/Classes Details/4th May/Files/Random Forest Project 9 & 10/Random Forests/Fraud_check.csv')
data.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [103]:
# Create the target column 'Target'
data['Target'] = data['Taxable.Income'].apply(lambda x: 'Risky' if x <= 30000 else 'Good')

# Drop the original 'Taxable.Income' column since it's now encoded in 'Target'
data = data.drop('Taxable.Income', axis=1)

In [104]:
data.head()

   Undergrad  Marital.Status  City.Population  Work.Experience  Urban Target
0          0               2            50047               10      1   Good
1          1               0           134075               18      1   Good
2          0               1           160205               30      1   Good
3          1               2           193264               15      1   Good
4          0               1            27533               28      0   Good

In [105]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
print(data.columns)

Index(['Undergrad', 'Marital.Status', 'City.Population', 'Work.Experience',
       'Urban', 'Target'],
      dtype='object')

In [106]:
data['Urban'] = label_encoder.fit_transform(data['Urban'])
data['Undergrad'] = label_encoder.fit_transform(data['Undergrad'])
data['Marital.Status'] = label_encoder.fit_transform(data['Marital.Status'])

In [107]:
df = data.copy()
df.head(2)

   Undergrad  Marital.Status  City.Population  Work.Experience  Urban Target
0          0               2            50047               10      1   Good
1          1               0           134075               18      1   Good

In [90]:
##Checking Data Parameter :-
print('no of columns - ' , df.columns)
print('no of shapes - ' , df.shape)
print('no of lenght - ' , len(df))

no of columns -  Index(['Undergrad', 'Marital.Status', 'Taxable.Income', 'City.Population',
       'Work.Experience', 'Urban'],
      dtype='object')
no of shapes -  (600, 6)
no of lenght -  600

In [108]:
#  Checking Data Information 
df.info()
# Checking Null Value -
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    int64
 1   Marital.Status   600 non-null    int64
 2   City.Population  600 non-null    int64
 3   Work.Experience  600 non-null    int64
 4   Urban            600 non-null    int64
 5   Target           600 non-null    object
dtypes: int64(5), object(1)
memory usage: 28.3+ KB

Undergrad          0
Marital.Status     0
City.Population    0
Work.Experience    0
Urban              0
Target             0
dtype: int64

In [109]:
## Reading data & Checking basic features of data - 
print('DataSet Information -\n',df.describe())

DataSet Information -
         Undergrad  Marital.Status  City.Population  Work.Experience  \
count  600.000000      600.000000       600.000000       600.000000
mean     0.520000        1.046667    108747.368333        15.558333
std      0.500017        0.821958     49850.075134         8.842147
min      0.000000        0.000000     25779.000000         0.000000
25%      0.000000        0.000000     66966.750000         8.000000
50%      1.000000        1.000000    106493.500000        15.000000
75%      1.000000        2.000000    150114.250000        24.000000
max      1.000000        2.000000    199778.000000        30.000000

            Urban
count  600.000000
mean     0.503333
std      0.500406
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

In [110]:
## Now we starting the training & Testing for data - y-(  0 No  - 1-Yes)
X = df[['City.Population','Work.Experience','Urban','Undergrad','Marital.Status']]
y =df['Target']

In [111]:
X.head(2)

   City.Population  Work.Experience  Urban  Undergrad  Marital.Status
0            50047               10      1          0               2
1           134075               18      1          1               0

In [112]:
y.head(2)

0    Good
1    Good
Name: Target, dtype: object

In [124]:
X_train , X_test , y_train ,y_test =train_test_split(X,y,test_size=0.2 ,random_state=12)

In [125]:
X_train.shape , y_train.shape

((480, 5), (480,))

In [126]:
X_test.shape , y_test.shape

((120, 5), (120,))

In [127]:
model = RandomForestClassifier
model

sklearn.ensemble._forest.RandomForestClassifier

In [130]:
def rd_forest(X_train, X_test,y_train,y_test):
    try:
        model = RandomForestClassifier(criterion='entropy') #entropy
        model_train = model.fit(X_train, y_train)
        pred = model_train.predict(X_test)
        results = accuracy_score(y_test,pred)*100
        return results
    except:
        print("|Error in Random |Forest |Function")

In [131]:
results = rd_forest(X_train, X_test,y_train,y_test)
print("The accuracy of Random |Forest Tree - ", results, "%")

The accuracy of Random |Forest Tree -  80.83333333333333 %

In [132]:
feat_importances = pd.Series(model.feature_importances_, index = X.columns)
feat_importances.plot

In [133]:
feat_importances

City.Population    <property object at 0x00000274C8C58590>
Work.Experience    <property object at 0x00000274C8C58590>
Urban              <property object at 0x00000274C8C58590>
Undergrad          <property object at 0x00000274C8C58590>
Marital.Status     <property object at 0x00000274C8C58590>
dtype: object